
name: Build APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Install Buildozer
        run: |
          pip install buildozer cython
          sudo apt-get install -y libffi-dev gzip zip unzip
      - name: Build APK
        run: |
          buildozer init
          sed -i 's/package.name = myapp/package.name = custom_app/' buildozer.spec
          yes | buildozer android debug
      - name: Upload APK
        uses: actions/upload-artifact@v2
        with:
          name: my_app_file
          path: bin/*.apk
