
name: Build
on: [push]
jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: |
          pip install buildozer cython kivy
          buildozer init
          sed -i 's/# android.accept_sdk_license = False/android.accept_sdk_license = True/' buildozer.spec
          buildozer android debug
      - uses: actions/upload-artifact@v4
        with:
          name: App
          path: bin/*.apk
